main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  min-height: 100vh;
}

.pokedex {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}